.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.AppNavbar {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.AppNavbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.AppNavbar ul li:not(:last-child) {
    margin-right: 20px;
}
