.PostList {
    max-width: 800px;
    margin: 0 auto;
}

.LoadMoreButton {
    width: 200px;
    display: inherit;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
