.SinglePost {
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.SinglePostHeader {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SinglePostHeader img {
    height: 100%;
    border-radius: 100%;
}

.SinglePostFooter {
    text-align: right;
}

.SinglePostDeleteButton {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}

.SinglePostDeleteButton:hover, .SinglePostDeleteButton:focus, .SinglePostDeleteButton:active {
    background-color: dodgerblue;
    cursor: pointer;
}
