.PostsContainer {
    position: relative;
}

.SinglePost {
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.SinglePostHeader {
    height: 60px;
    display: flex;
    justify-content: start;
    gap: 50px;
    align-items: center;
}

.SinglePostHeader img {
    height: 100%;
    border-radius: 100%;
}

.SinglePostDate {
    flex: 1 1 auto;
    text-align: right;
}

.SinglePostFooter {
    text-align: right;
}

.SinglePostFooter .Button {
 margin-left: 20px;
}

.SinglePostDeleteConfirm {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid indianred;
    border-radius: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 30px 0;
    background-color: oldlace;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}
