body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.Button.PrimaryButton {
  background-color: cornflowerblue;
  color: white;
}

.Button.DangerButton {
  background-color: darkred;
  color: white;
}

.Button.SecondaryButton {
  background-color: darkorange;
  color: white;
}

.Button.DisabledButton {
  background-color: lightgray;
  color: white;
}

.Button:hover, .Button:focus, .Button:active {
  cursor: pointer;
}

.Button.PrimaryButton:hover,
.Button.PrimaryButton:focus,
.Button.PrimaryButton:active {
  background-color: dodgerblue;
}

.Button.DangerButton:hover,
.Button.DangerButton:active,
.Button.DangerButton:focus {
  background-color: red;
}

.Button.SecondaryButton:hover,
.Button.SecondaryButton:active,
.Button.SecondaryButton:focus {
  background-color: orange;
}

.FontBold {
  font-weight: bold;
}

.FontItalic {
  font-style: italic;
}

.FontUppercase{
  text-transform: uppercase;
}

.FontRed {
  color: red;
}

.FormContainer {
  max-width: 400px;
  margin: 20px auto;
}

.FormBody {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
